<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="链家" />
    <meta name="keywords" content="链家,买房,卖房,房," />
    <title>{{title}}</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/scss1.css" />
    <script src="jquery3.2.1/jquery.js"></script>
    <script src="bootstrap/dist/js/bootstrap.js"></script>
    <script src="js/angular.1.6.5.min.js"></script>
    <script src="js/js1.js"></script>
</head>
<body ng-controller="zhaofang" ng-cloak>
{{> header}}
{{{body}}}
{{> footer}}
</body>
</html>