<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{title}}</title>
	</head>
	<link rel="stylesheet" href="../css/zcck.css">
	<body>
		<div class="one">
			<font size="7" face="楷体" class="fl">LIANJIA</font>
		    	<ul class="fl">
		    		<li class="ClearBoth">链家</li>
		    		<li class="ClearBoth"> .com</li>
		    	</ul>
		    <a href="../../" class="fh">返回链家首页<img src="../img/zcjt.jpg"></a>
		</div>
		<div class="two">
			<center>
				<font size="6" class="ft1"> 创建账户<a href="#">已有账户，去登陆</a></font><br/>												
				<input type="text" placeholder="请输入手机号码" class="ip1"></input>
				<input type="submit" value="发送验证码" class="ip12"></input><br/>				
				<input type="text" placeholder="请输入短信验证码" class="ip2"></input><br/>
				<input type="text" placeholder="昵称" class="ip3"></input><br/>
				<input type="password" placeholder="请输入密码(最少8位数，需含数字、字母)" class="ip4"></input><br/>
				<input type="password" placeholder="请确认新密码" class="ip5"></input><br/>
				<input type="checkbox" name="" class="ip55"/>
		        	<span>我已阅读并同意</span>
		        	<a href="#" class="xy"><<链家用户使用协议>></a><br/>				
				<input type="submit" value="立即注册" class="ip6"></input><br/>
				<span class="hm">北京链家房地产经纪有限公司/网络经营许可证 京ICP备11024601号-12</span>
				<span class="db">北京链家房地产经纪有限公司保留全部权利</span><br/>								
			</center>					
		</div>				
	</body>
</html>
